/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');


/* Your additional custom styles go here */
/* Important comment :)*/
.hans-font {
    font-family: 'Black Han Sans', sans-serif;
}

.ibm-font {
    font-family: 'IBM Plex Mono', monospace;
}

#temp-banner {
color: #1E1E1E;
font-family: Black Han Sans;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2rem;
}
  
#temp-banner-2 {
color: #F70;
font-family: Black Han Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.5rem;
}

.text-outline {
    -webkit-text-stroke: 1px #FF7600;
  }
  

