/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


/* Your additional custom styles go here */

.hans-font {
    font-family: 'Black Han Sans', sans-serif;
}

.ibm-font {
    font-family: 'IBM Plex Mono', monospace;
}

.roboto-font {
    font-family: 'Roboto Mono', monospace;
}

.text-outline {
    -webkit-text-stroke: 1px #FF7600;
  }

.menu-transition {
    max-height: 500px;
    transition: max-height 0.25s ease-in-out;
}

.menu-transition-closed {
    max-height: 0px;
    transition: max-height 0.25s ease-in-out;
    overflow: hidden;
}

.menu-transition a {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  
.menu-transition-closed a {
    opacity: 0;
    transition-delay: 0.25s ease-in-out; 
  }